/**--------------------------------------------
 *               Style Rules
 *---------------------------------------------**/

body {
    font-family: Roboto, Arial, sans-serif;
}

body {
    color: #1F2937;
    background: #ffffff;
}

button {
    /* Style */
    background: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
}

#page-header {
    background: #1F2937;
    color: #F9FAF8;
}

.title-text {
    /* Style */
    font-size: 48px; 
    color: #F9FAF8;
    font-weight: 900;
}

.title-subtext,
.navbar-link {
    color: #E5E7EB;
}

.title-subtext {
    /* Style */
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.image-placeholder-text {
    background: #ffffff57;
    color: #F9FAF8;
}

.section-header {
    font-size: 36px;
    font-weight: 900;
}

.gallery-image-box {
    border: solid #3882F6;
    border-radius: 10px;
}

#section-quote {
    background: #E5E7EB;
    color: #1F2937;
}

.quote-figure > blockquote {
    /* Style */
    font-style: italic;
    font-weight: lighter; 
    font-size: 36px;
}

.quote-figure > figcaption {
    font-weight: 900;
    margin: 20px 0px;
}

.banner-box {
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
}

.banner-button > button {
    border: solid #F9FAF8 1px;
}

#page-footer {
    background: #1F2937;
    color: #E5E7EB;
}

/**--------------------------------------------
 *               Layout Rules
 *---------------------------------------------**/

/**----------------------
 *    Global
 *------------------------**/

body {
    /* Layout */
    margin: 0;
}

button {
    /* Layout */
    padding: 7px 23px;
}

/**----------------------
 *    Header
 *------------------------**/

#page-header {

    /* Layout */
    padding: 0 75px 75px 75px;
}

/* Navbar flex layout options */
#header-navbar {
    /* Layout */
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#header-navbar > * {
    /* Layout */
    flex: 0 1 auto;
}

/* Center the content of header logo and navbar list */
.navbar-list,
.header-logo {
    /* Layout */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide bullet points */
.navbar-list {
    /* Layout */
    list-style-type: none;
}

.navbar-list > li {
    /* Layout */
    text-align: right; 
    flex: auto; /* set to auto in order to prevent wrapping text unless there is no room */
}


.navbar-link {
    /* Layout */
    display: block; /* all navbar links should be block elements */
    text-decoration: none;   
}

.navbar-link,
#header-banner > * {
    /* Layout */
    /* links in navbar should also have some padding. This should also be applied to children of
    #header-banner so that everything falls inline. */
    padding: 20px;
}
/* - Banner - */


/* Banner flex layout options */
#header-banner {
    display: flex;
}

#header-banner > * {
    flex: 1;
}

/* Placeholder image options */
#header-banner .image-placeholder-text {
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/**----------------------
 *    Information Section
 *------------------------**/

#section-information {
    text-align: center;
}

#section-information > * {
    margin: 40px
}

.gallery-list {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.gallery-list > li {
    flex: 0;
}

.gallery-figure {
    margin: 0;
    padding: 0;
}

.gallery-image-box {
    width: 150px;
    height: 150px;
}

/**----------------------
 *    Quote Section
 *------------------------**/

#section-quote {
    padding: 80px 200px;
}

.quote-figure {
    margin: 0;
    padding: 0;
}

.quote-figure > blockquote {
    margin: 0;
    text-align: left;
}

.quote-figure > figcaption {
    text-align: right;
}

/**----------------------
 *    Sign Up Section
 *------------------------**/

#section-sign-up {
    display: flex;
}

#section-sign-up > * {
    margin: 70px 150px;
}

.banner-box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.banner-box > .banner-text {
    flex: 6;
    margin: 0 20px;
}

.banner-text > * {
    margin: 0;
}

.banner-box > .banner-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    text-wrap: nowrap;
    margin: 0 20px;
}

/**----------------------
 *    Footer
 *------------------------**/

#page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}