body {

    /* Style */
    font-family: Roboto, Arial, sans-serif;

    /* Layout */
    margin: 0;
}

/* --- Header ---  */
/* --------------- */

#page-header {

    /* Layout */
    padding: 0 75px 75px 75px;
    

    /* Style */
    background: #1F2937;
    color: #F9FAF8;
}

/* - Navbar - */

/* Navbar flex layout options */
#header-navbar {
    /* Layout */
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#header-navbar > * {
    /* Layout */
    flex: 0 1 auto;
}

/* Center the content of header logo and navbar list */
.navbar-list,
.header-logo {
    /* Layout */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide bullet points */
.navbar-list {
    /* Layout */
    list-style-type: none;
}

.navbar-list > li {
    /* Layout */
    text-align: right; 
    flex: auto; /* set to auto in order to prevent wrapping text unless there is no room */
}


.navbar-link {
    /* Layout */
    display: block; /* all navbar links should be block elements */

    /* Style */
    color: #E5E7EB;
    text-decoration: none;   
}

.navbar-link,
#header-banner > * {
    /* links in navbar should also have some padding. This should also be applied to children of
    #header-banner so that everything falls inline. */
    padding: 20px;
}

/* - Banner - */


/* Banner flex layout options */
#header-banner {
    display: flex;
}

#header-banner > * {
    flex: 1;
}

/* Placeholder image options */
#header-banner .image-placeholder-text {
    /* Layout */
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Style */
    background-color: rgba(255, 255, 255, 0.4);
}

/* - Information - */
/* --------------- */

#section-information {

    /* Layout */
    text-align: center;
    height: 350px;

    /* Style */
    background: #ffffff;
    color: #1F2937;
    
}

#section-information > * {
    margin: 40px
}

.gallery-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.gallery-list > li {
    flex: 0;
}

.gallery-figure {
    margin: 0;
    padding: 0;
}

.gallery-image-box {
    width: 150px;
    height: 150px;
    
    /* Style */
    border: solid #3882F6;
    border-radius: 10%;
}

#section-quote {

    /* Layout */
    padding: 80px 200px;

    /* Style */
    background: #E5E7EB;
    color: #1F2937;
}

.quote-figure {
    /* Layout */
    margin: 0;
    padding: 0;
}

.quote-figure > blockquote {
    /* Layout */
    margin: 0;
    text-align: left;
    
    /* Style */
    font-style: italic;
    font-weight: lighter; 
}

.quote-figure > figcaption {
    /* Layout */
    text-align: right;
    
    /* Style */
    font-weight: 900;
}

#section-sign-up {

    /* Style */
    background-color: #3882F6;
    color: #ffffff;
}

#page-footer {
    background-color: #1F2937;
    color: #ffffff;
}